@{
    ViewData["Title"] = "Delete Bowler";
}

@model Bowler

<h3>Confirm Deletion</h3>
<h4>Are you sure you want to strike @Model.BowlerFirstName @Model.BowlerLastName from the list?</h4>
<form method="post" asp-action="Delete">
    <button type="submit">Delete</button>
    <a class="btn btn-primary" asp-action="Index">Let's put a pin in it</a>
    
    <input type="hidden" asp-for="BowlerID" />
</form>